<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat or Non-Cat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

    <h1>Is this a cat picture?</h1>

    <form id="upload-form" enctype="multipart/form-data">
        <label for="file">Select an image:</label>
        <input type="file" id="file" name="file" accept="image/*" onchange="previewImage(event)">
        <div id="image-preview-container">
            <h3>Image Preview</h3>
            <img id="image-preview" alt="Image Preview" src="{{ url_for('static', filename='default-image.jpg')}}">
        </div>
        <br>
        <button type="button" onclick="uploadImage()">Upload Image</button>
    </form>
    
    <div id="messages"></div>
    
    <script>
        const messagesContainer = document.getElementById('messages');
        const uploadForm = document.getElementById('upload-form'); 
        const defaultImage = '{{ url_for("static", filename="default-image.jpg")}}';

        function uploadImage() {
            const formData = new FormData(uploadForm);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const { status, message } = data;

                const messageElement = document.createElement('h2');
                messageElement.className = status === 'success' ? 'success' : 'error';
                messageElement.textContent = message;

                messagesContainer.innerHTML = '';
                messagesContainer.appendChild(messageElement);
            })
            .catch(error => {
                console.error('Error during upload:', error);
            });
        } 

        function previewImage(event) {
            const input = event.target;
            const previewImage = document.getElementById('image-preview');

            const file = input.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    previewImage.src = e.target.result;
                };

                reader.readAsDataURL(file);
                messagesContainer.innerHTML = '';
                
            } else { 
                previewImage.src = defaultImage;                
            }
        }
    </script>
</body>
</html>
